In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('data.csv',sep='#')
raw_data.head()

,producto,precio,precio_rebaja,date_time,tienda
0,Celular Motorola G42 Verde 4GB 128GB 4g,$ 94.999,$ 89.999,2023-06-15 19:08:49.704777,coppel
1,Celular Motorola G32 Gris 4GB 128GB 5g,$ 88.999,$ 77.999,2023-06-15 19:08:49.704777,coppel
2,Celular Motorola G42 Rosa 4GB 128GB 4g,$ 94.999,$ 89.999,2023-06-15 19:08:49.704777,coppel
3,Celular Samsung A04 Black 4GB 128GB SM-A045MZK...,$ 79.999,$ 73.999,2023-06-15 19:08:49.704777,coppel
4,Celular Motorola E32 Gris 4GB 64GB 4g,$ 67.999,NaN,2023-06-15 19:08:49.704777,coppel

In [3]:
len(raw_data)

3140

In [6]:
muestra_lista = raw_data[['producto','tienda']].sample(n=170)

In [9]:
muestra_lista.head()

                                               producto    tienda
1816              Escritorio Notebook 3045-Coe O Tables  megatone
3124  Mouse Genius Nx 7010 Blueeye White/red (new Pa...   fravega
1032         Notebook I7 15Itl6 Ip3 8Gb256ssd W1 Lenovo  megatone
667                 Celular Motorola E22 Negro 3GB 32GB    coppel
1407  Notebook Ip 3 14Ada05 Athlon 3050U 8Gb 1Tb W11...  megatone

In [10]:
muestra_lista.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 1816 to 147
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   producto  170 non-null    object
 1   tienda    170 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [12]:
muestra_lista.to_csv('productos.csv',sep=',',index=None)