In [18]:
with open('password.txt') as f:
    text=f.readline()

text=str.strip(text)

In [9]:
import pandas as pd

df=pd.read_csv('data.csv', sep='#')
df.head(5)

,producto,precio,precio_rebaja,date_time,categoria
0,Auricular Inalámbrico In Ear B13 Earbuds Negro...,"$9,294",NaN,2023-06-09 01:23:07.858730,auriculares
1,Auricular Con Cable In Ear Taue100bk/00 Negro ...,"$2,479",NaN,2023-06-09 01:23:07.858730,auriculares
2,Auricular Con Cable In Ear Eo-Ic100bbegww Negr...,"$8,499",NaN,2023-06-09 01:23:07.858730,auriculares
3,Aur Earbud Sl-Ebsp101 Ng Smartlife,"$4,775","$3,299",2023-06-09 01:23:07.858730,auriculares
4,Auricular Con Cable In Ear Eo-Ic100bbegww Blan...,"$8,499",NaN,2023-06-09 01:23:07.858730,auriculares

In [19]:
# voy a probar to_sql -> funciona y es muy simple, estaria el writer
from sqlalchemy import create_engine

# credenciales
hostname="localhost"
dbname="megatone_scrap"
uname="root"
pwd=text

engine=create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname,db=dbname,user=uname,pw=pwd))

In [20]:
df.to_sql('prueba',engine,index=False)

6228